<include file="Layout/header"/>
	<body>
		<!--边栏-->
		<div class="sidebar-container navbar-fixed-left">
			<h3 class="navbar-brand-m">
				{$Think.config.TOP_TEXT}
			</h3>
			<div class="clearfix"></div>
			<include file="Layout/left_tab"/>
		</div>
		<!--边栏-->

		<!--主体-->
		<div class="wrapper">
			<!--顶栏-->
			<include file="Layout/header_container" />
			<!--顶栏-->

			<div class="block-wrapper">
				<div class="container-fluid">

					<div class="col-xs-12">
						<div class="block-content">
							<ol class="breadcrumb">
								<li><a href="{:U('Mare/Task/task_list')}">任务列表</a></li>
							  	<li><a href="{:U('Mare/Task/task_item_summary',array('appid'=>$_GET['appid']))}"><?php echo explode('_',$taskname)[0]; ?></a></li>
							  	<li class="active">自定义扫描规则</li>
							</ol>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="navbar-custom">
							<ul>
								<li>
									<a href="{:U('Mare/Task/task_item_parameter',array('appid'=>$_GET['appid']))}">任务信息概要</a>
								</li>
								<li>
									<a href="{:U('Mare/Task/task_item_summary',array('appid'=>$_GET['appid']))}">检测结果汇总</a>
								</li>
								<li>
									<a href="{:U('Mare/Task/task_item_application',array('appid'=>$_GET['appid']))}" >应用代码安全</a>
								</li>
								<li>
									<a href="{:U('Mare/Task/task_item_business',array('appid'=>$_GET['appid']))}">业务操作安全</a>
								</li>
								<li>
									<a href="{:U('Mare/Task/task_item_communication',array('appid'=>$_GET['appid']))}">数据通信安全</a>
								</li>
								<li>
									<a href="{:U('Mare/Task/task_item_server',array('appid'=>$_GET['appid']))}">服务器端安全</a>
								</li>
								<if condition="$requesttemp neq null">
								<!--
								<li>
									<a href="{:U('Mare/Task/task_console',array('appid'=>$_GET['appid']))}">网络调试</a>
								</li>
								-->
								</if>
								<if condition="$scanruledata neq null">
								<li class="active">
									<a href="{:U('Mare/Task/task_custom_rule',array('appid'=>$_GET['appid']))}">自定义扫描规则</a>
								</li>
								</if>
								<li style="margin-right: 5%;">
									<a href="{:U('Mare/Task/task_detial',array('appid'=>$_GET['appid']))}">返回报告摘要</a>
								</li>
							</ul>
						</div>
					</div>

					<div class="col-md-12">
						<div class="block-content">
							
							<div class="block-head">
								<h3>自定义扫描规则结果</h3>
							</div>
							<div class="block-body">
								<div class="report-wrapper">
									<table class="table table-hover">
									<thead>
										<tr>
											<th>ID</th>
											<th>规则类型名</th>
											<th>扫描结果数</th>
											<th>操作</th>
										</tr>
									</thead>
									<tbody>
										<volist name="scanruledata"  id="vd">
											<tr>
												<td>{$i+$star}</td>
												<td>
												<php>
												foreach($ruletypelist as $valueruletype){
													if($vd['ruletype'] == $valueruletype['key']){
														echo $valueruletype['value'];
														break;
													}
												}
												</php>
												</td>
												<td>{$vd['ruletypecount']}</td>
												<td><a href="{:U('Mare/Task/task_custom_rule_detial',array('appid'=>$_GET['appid'],'ruletype'=>$vd['ruletype']))}" class="btn-sm btn-blue-border">详情</a></td>
											</tr>
										</volist>
									</tbody>
								</table>							
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="fancy-img-wrapper">
				<div class="fancy-img-box">
					<img src="__PUBLIC__/mars/img/bg.jpg" class="img-responsive">
				</div>
				<div class="close-box">
					<i class="fa fa-close fa-4x"></i>
				</div>
			</div>
			<!-- 图片放大窗体 -->

		</div>
		<!--主体-->

		<script src="__PUBLIC__/mars/js/lib/jquery/jquery-1.11.0.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/mars/js/lib/bootstrap/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/mars/js/lib/scrollreveal/scrollreveal.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="__PUBLIC__/mars/js/lib/smoothsroll/SmoothScroll.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			function fancyImgBox(e){
				var getImgUrl = $(this).find("img").attr("src");
				$(".fancy-img-wrapper").find(".fancy-img-box img").attr("src",getImgUrl);
				$(".fancy-img-wrapper").fadeIn();
				closeFancyBox();
			}
			function closeFancyBox(){
				$(".close-box").on("click",function(){
					$(".fancy-img-wrapper").fadeOut();
				});
				$(".fancy-img-wrapper").on("click",function(){
					$(".fancy-img-wrapper").fadeOut();
				});
			}
			$(document).ready(function(){
				$(".thumbnail-img-box").find(".thumbnail-img-wrapper").on("click",fancyImgBox);//点击显示大图
			});
		</script>
<include file="Layout/footer"/>